* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FDFDFD;
}

header {
    position: fixed;
    height: 80px;
    background-color: #264D78;
    color: #fff;
    top: 0; left: 0; right: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 1px #CCCDCD;
    z-index: 1000;
}

.col-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

figure {
    width: 100px;
}

header .header-logo img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 17px;
    margin-bottom: 5px;
}

header h3 {
    font-size: 14px;
}

.col-d {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.col-d figure {
    width: 50px;
}

.col-d img {
    display: block;
    width: 65%;
    margin: 0 auto;
}

section.home#home {
    padding: 150px 7% 20px;
    height: 100vh;
}

section.home#home h3 {
    color: #264D78;
}

section.home#home hr {
    margin-bottom: 30px;
}

section.home#home .lista-alumnos {
    display: block;
    width: 100%;
    height: 100%;
    list-style: none;
    border-radius: 5px;
}

section.home#home .lista-alumnos .item:first-of-type {
    border-top: 1px solid #00000033;
}

section.home#home .lista-alumnos .item {
    position: relative;
    border-bottom: 1px solid #00000033;
}

section.home#home .lista-alumnos .item .item-content{
    display: block;
    width: 100%;
    height: 150px;
    background-color: #e7e7e7;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding: 30px 30px 30px 180px;
}

section.home#home .lista-alumnos .item .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

section.home#home .lista-alumnos .item .item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.home#home .lista-alumnos .item .text {
    padding-right: 30px;
    border-right: 1px solid gray;
}

section.home#home .lista-alumnos .item .text p {
    display: block;
}

section.home#home .lista-alumnos .item .text p:first-of-type {
    font-size: 16px;
    color: #264D78;
    font-weight: bolder;
}

section.home#home .lista-alumnos .item .text p:last-of-type {
    font-size: 13px;
}

.c1, .c2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1090px) {
    section.home#home .lista-alumnos .item .text {
        width: 100%;
    }
}

@media screen and (max-width: 940px) {
    .col-i {
        gap: 70px;
    }
}

@media screen and (max-width: 640px) {
    .col-i {
        gap: 30px;
    }

    .c1, .c2 {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    section.home#home .lista-alumnos .item .item-img {
        top: calc(50% - 60px);
    }

    section.home#home .lista-alumnos .item .item-content {
        flex-wrap: wrap;
        height: max-content;
    }


}

@media screen and (max-width: 440px) {
    .col-i .header-logo {
        display: none;
    }

    section.home#home {
        padding: 120px 7% 20px;
    }

    section.home#home .lista-alumnos .item .item-img {
        top: 30px;
        left: calc(50% - 60px);
    }

    section.home#home .lista-alumnos .item .item-content {
        padding: 30px;
        height: 420px;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }

    section.home#home .lista-alumnos .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}