@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Raleway:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* outline: 1px solid red; */
}

:root {
    --primary-color: #e24f43;
    --text-color: #fff;
    --practicas-bg: #2f2e41;
    --padding-top-container: 80px;
    scroll-behavior: smooth;
}

.container {
    --padding-top-container: 0px;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

/* CABECERA SECTION */

.cabecera {
    padding: 0.1px;
    color: var(--text-color);
    background-image: linear-gradient(120deg, #579aca 0%, #d57eeb 100%);
}

.cabecera__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cabecera__r1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 45%;
}

.cabecera__texts {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cabecera__titulo {
    font-size: 80px;
}

.cabecera__descripcion {
    font-size: 40px;
    font-weight: 300;
}

.cabecera__nombre {
    font-size: 20px;
    font-weight: 300;
}

.cabecera__fig-content {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera__figure {
    width: 65%;
    overflow: hidden;
    border: 4px solid #ddd;
    border-radius: 50%;
}

.cabecera__img {
    display: block;
    width: 100%;
}

.cabecera__r2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera__link-practicas {
    padding: 10px 20px;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 20px;
    transition: all 200ms ease;
}

.cabecera__link-practicas:active {
    transform: translateY(-5px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* PRACTICAS SECTION */

.practicas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1px;
    min-height: 100vh;
    background-color: var(--practicas-bg);
}

.practicas__cards {
    --padding-top-container: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: var(--padding-top-container) auto 80px;
}

.practicas__card {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 30%;
    max-width: 320px;
    height: 400px;
    background-color: #fff;
    border-top: 7px solid var(--primary-color);
    overflow: hidden;
    border-radius: 5px;
    transition: all 300ms ease;
}

.practicas__card-img {
    display: block;
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-bottom: 1px solid gray;
}

.practicas__card-titulo {
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    margin: 20px;
}

.practicas__card-parrafo {
    font-family: inherit;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.practicas__card-cta {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: all 300ms ease;
}

.practicas__card-cta:hover {
    background-color: #f56b5e;
}

@media screen and (max-width: 895px) {
    .cabecera__fig-content {
        width: 40%;
    }
}

@media screen and (max-width: 850px) {
    .cabecera__r1 {
        flex-direction: column-reverse;
    }

    .cabecera__titulo, .cabecera__texts {
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .cabecera__fig-content {
        width: 50%;
    }

    .practicas__card {
        width: 40%;
    }
}

@media screen and (max-width: 637px) {
    .practicas__card {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .cabecera__titulo {
        font-size: 50px;
    }

    .cabecera__texts > .cabecera__parrafo {
        font-size: 30px;
    }

    .cabecera__texts > .cabecera__nombre {
        font-size: 18px;
    }

    .cabecera__fig-content {
        min-width: 269px;
    }

    .cabecera__img {
        min-width: 167px;
    }
}

@media screen and (max-width: 350px) {
    .cabecera__container.container {
        width: 80%;
    }
}

@media screen and (max-width: 290px) {
    .cabecera__img {
        min-width: 100px;
    }

    .cabecera__figure {
        width: 50%;
    }

    .cabecera__titulo {
        font-size: 30px;
    }

    .cabecera__descripcion {
        font-size: 18px;
    }

    .cabecera__nombre {
        font-size: 14px;
    }

    .practicas__card-titulo {
        font-size: 30px;
    }
}