* {
    box-sizing: border-box;
}

header {
    background-color: steelblue;
    color: #fff;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

section{
    background-color: rgb(235, 231, 225);
    color: rgb(148, 5, 5);
    padding: 20px;
    border: 1px solid gray;
    border-radius: 3px;
}

#pa {
    display: block;
    width: 400px;
    margin: 0 auto;
    transition: all 300ms ease;
}