@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    height: 150vh;
    margin-top: 100px;
}

.calculadora {
    max-width: 300px;
    width: 80%;
    min-height: 350px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0px 20px 20px;
    overflow: hidden;
}

.calculadora__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.calculadora__calc {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.calculadora__figure {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.calculadora__img {
    width: 147px;
}

.calorias {
    padding: 20px;
}

.r1, .r2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: lighter;
}

.r2 {
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 10px;
}

.titulo {
    text-align: center;
    margin: 25px 0;
}

.inp {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    transition: all 200ms ease;
}

.inp.btnCalcular {
    cursor: pointer;
}

.inp.btnCalcular:hover {
    background-color: rgb(101, 43, 226);
    color: #fff;
}

.imc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imc-label {
    width: auto;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.imc {
    width: auto;
    font-size: 18px;
    background-color: rgb(101, 43, 226);
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 300ms ease;
}

.registros {
    width: 100%;
    padding: 10px;
    height: auto;
    text-align: center;
    & > h3 {
        margin: 20px auto;
        width: 110px;
        padding: 5px 10px;
        background-color: green;
        color: #fff;
        border-radius: 5px;
    }
}

.r {
    padding: 7px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: gray;
    margin-bottom: 5px;
    color: #fff;
}

.r-id {
    padding: 3px;
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    margin-right: 5px;
}

.r-peso {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(36, 107, 189);
    margin-right: 5px;
}

.r-altura {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(31, 158, 69);
    margin-right: 5px;
}

.r-imc {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(231, 136, 46);
    margin-right: 5px;
}

input[type="number"]:nth-of-type(3) {
    margin-bottom: 0;
}

.rd-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width: 1000px) {
    .container {
        align-items: flex-start;
    }
}

@media screen and (max-width: 920px) {
    .calculadora__container {
        flex-direction: column;
        margin-top: 50px;
    }

    .calculadora {
        width: 80%;
    }
}