@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: auto;
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.encabezado {
    padding: 30px;
    text-align: center;
}

.cotizacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}
label, input, select, button {
    display: block;
    width: 100%;
    padding: 10px;
}

label {
    padding-left: 0px;
}

.cotizacion__col1 , .cotizacion__col2{
    width: 45%;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: rgb(155, 176, 197);
    border: 1px solid gray;
    border-radius: 5px;
}

.cotizacion__titulo {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

#pagoInicial, #totalfin, #pagoMensual {
    outline: none;
    background-color: rgb(206, 218, 230);
    border: 1px solid gray;
}

.registros {
    background-color: rgb(155, 176, 197);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    & > h3 {
        margin-bottom: 20px;
    }
}

.r {
    padding: 7px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: gray;
    margin-bottom: 5px;
}

.r-id {
    padding: 3px;
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    margin-right: 5px;
}

.r-va {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(36, 107, 189);
    margin-right: 5px;
}

.r-po {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(31, 158, 69);
    margin-right: 5px;
}

.r-pl {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(231, 136, 46);
    margin-right: 5px;
}

.r-pi {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(128, 36, 189);
}

.r-to {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(238, 38, 38);
    margin-right: 5px;
}

.r-pa {
    padding: 3px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgb(36, 107, 189);
    margin-right: 5px;
}

@media screen and (max-width: 690px) {
    .cotizacion {
        flex-direction: column;
    }
    
    .cotizacion__col1, .cotizacion__col2 {
        width: 90%;
        max-width: 279px;
        height: auto;
    }
}