@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    accent-color: #164CA5;
    --primary-color: #164CA5;
    --pentagono-size: 400px;
    --duration: .3s;
    --scale: 1;
}

body {
    background-color: #eee;
}

input, select, button {
    outline: none;
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    display: block;
}

.container {
    height: auto;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

.titulo {
    padding: 30px 0;
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
}

.container__generador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 30px;
}

.conts {
    height: 200px;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    padding-top: 35px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 40px);
    gap: 10px;
}

.conts::before {
    content: "";
    width: 50px;
    height: 50px;
    z-index: 1;
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    left: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    top: -25px;
}

.container__lbl-generados {
    text-align: center;
    height: 20px;
    align-self: end;
}

.btn-generar {
    font-size: 18px;
    line-height: 0.5;
    transition: background-color var(--duration) ease,
                color var(--duration) ease;
    transform: scale(var(--scale));
}

.btn-generar:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn-generar:active {
    --duration: 0ms;
    background-color: #3170d4;
    --scale: 1.02;
}

.container__cantidad::before {
    content: "1";
}

.container__generar::before {
    content: "2";
}

.container__porcentajes::before {
    content: "3";
}

.span {
    padding: 5px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
    width: max-content;
    height: min-content;
    transform: scale(var(--scale));
    transition: all var(--duration) ease;
}

.span:nth-of-type(3) {
    display: block;
    margin-left: 0;
}

@media screen and (max-width: 1106px) {
    .titulo {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 724px) {
    .titulo {
        margin-bottom: 20px;
    }
}